body {
    background-color: #d5e1f0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
}

.container {
    text-align: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}

.one{
    opacity: 0.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imageview {
    background-color: #2d7bf7;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    /* width: 10px;
    height: 10px; */

}

/* 
.rightarrow{
    
    float:right; 
    vertical-align: middle;
}
.leftarrow{
    float: left;
} */

@media screen and (max-width: 800px) {
    .container {
        width: 75%;
        height: fit-content;
        margin: 50px, 50px, 0px, 0px;
    }
}